<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="scripts/libs/angular.min.js"></script>
    <script src="scripts/app/app.js"></script>
  </head>
  <body ng-app="NarrowItDownApp">
    <div class="container" ng-controller="NarrowItDownController as ctrl">
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="ctrl.searchTerm">
      </div>
      <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="ctrl.narrowItDown()">Narrow It Down For Me!</button>
      </div>

      <div class="form-group list">
        <found-items found-items="ctrl.found" on-remove="ctrl.remove(index)"></found-items>
      </div>
    </div>

  </body>
</html>
