<div class="container">
  <h1> Sign Up </h1>
  <form name="regForm" novalidate>
    <div class="row top-buffer">
      <label for="firstName" class="col-sm-2">First Name</label>
      <input type="text" 
             name="firstName" 
             placeholder="First name"
             class="col-sm-2"
             required
             ng-minlength="2"
             ng-maxlength="20"
             ng-model="signupCtrl.user.firstName">
    <div class="col-sm-2" ng-messages="regForm.firstName.$touched && regForm.firstName.$error">
      <div ng-messages-include="src/common/validation/messages.html"></div>
    </div>
    </div>
    <div class="row top-buffer">
      <label for="lastName" class="col-sm-2">Last Name</label>
      <input type="text" 
             name="lastName" 
             placeholder="Last name"
             class="col-sm-2"
             required
             ng-minlength="2"
             ng-maxlength="20"
             ng-model="signupCtrl.user.lastName">
    <div class="col-sm-2" ng-messages="regForm.lastName.$touched && regForm.lastName.$error">
      <div ng-messages-include="src/common/validation/messages.html"></div>
    </div>
    </div>
    <div class="row top-buffer">
      <label for="email" class="col-sm-2">Email</label>
      <input type="email"
             name="email"
             placeholder="Email"
             class="col-sm-2"
             required
             ng-model="signupCtrl.user.email">
    <div class="col-sm-2" ng-messages="regForm.email.$touched && regForm.email.$error">
      <div ng-message="email">invalid email address</div>
      <div ng-messages-include="src/common/validation/messages.html"></div>
    </div>
    </div>
    <div class="row top-buffer">
      <label for="phone" class="col-sm-2">Phone Number</label>
      <input type="text"
             name="phone"
             placeholder="555-555-5555"
             class="col-sm-2"
             required
             pattern="(\d{3})-(\d{3})-(\d{4})"
             ng-model="signupCtrl.user.phone">
    <div class="col-sm-2" ng-messages="regForm.phone.$touched && regForm.phone.$error">
      <div ng-message="pattern">Must have the following format: 555-555-5555</div>
      <div ng-messages-include="src/common/validation/messages.html"></div>
    </div>
    </div>
    <div class="row top-buffer">
      <label for="item" class="col-sm-2">Menu Item Number</label>
      <input type="text"
             name="item"
             placeholder="A1"
             class="col-sm-2"
             required
             pattern="([A-Z,a-z]\d{1,2})"
             ng-model="signupCtrl.user.item">
    <div class="col-sm-2" ng-messages="regForm.item.$touched && regForm.item.$error">
      <div ng-message="pattern">Must have the following format: A1 to Z99</div>
      <div ng-messages-include="src/common/validation/messages.html"></div>
    </div>
    </div>
    <div class="row top-buffer">
      <div class="col-sm-4">
        <button type="button" 
                id="submit" 
                ng-click="signupCtrl.signup()" 
                ng-disabled="regForm.$invalid"
                class="btn btn-primary btn-block">Sign Up</button>
      </div>
    </div>
  </form>
</div>
